body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #2563eb, #1e3a8a);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 420px;
    text-align: center;
}

.back-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.logo {
    width: 60px;
    height: 60px;
    background: #2563eb;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.card-header {
    text-align: center;
    margin-bottom: 20px;
}

.card-header h2 {
    margin: 0;
    font-size: 24px;
}

.card-header p {
    margin-top: 5px;
    color: #666;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}




input {
    width: 93%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.input-group input{
    margin-top: 6px;
}

input:focus {
    border-color: #2563eb;
}

small {
    font-size: 12px;
    color: gray;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.register-btn:hover {
    background: #1e40af;
}

.login-text {
    text-align: center;
    margin-top: 15px;
}

.login-text a {
    color: #2563eb;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

.features {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
